.profile {
  border-radius: 100%;
}

.about, footer, h1 {
	text-align: center;
	padding-top: 5%;
}

div {
  border-style: inset;
}

@media screen and (min-width:50%) {
  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
